.transactions-page {
  padding: 5vh 6vw;
}

.transactions-froppa-logo-container {
  text-align: center;
  margin-bottom: 6vmax;
}

.transactions-page>h2 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 4vh; 
  margin-bottom: 1vh;
  text-align: center;
}
