.home-page {
  padding: 15vh 6vw;
  position: relative;
}

.home-page>h1 {
  font-size: 2.5rem;
  font-weight: 450;
  margin-bottom: 4vh;
}

.home-page>h2 {
  font-size: 1.8rem;
  margin-top: 6vh;
}

.home-page>p {
  color: #FFF8F8;
  margin-bottom: 4vh;
}
